{% extends 'base.html' %}
{% block title %}
Hire for skill
{% endblock %}
{%load static %}
{% block content %}



    <div class="jumbotron jumbotron1 " style="margin-bottom: 1em">
        <div class="container">
          <div class="mt-5">

            <div class="display-2 h1 text-center d-none d-lg-block " style="color: white;margin-top: 12%">Hire Skilled Software Developers — Faster</div>

            <div class="subheading d-none d-lg-block text-center">Codeln Offers Monitored Workspaces To Verify Coding Skills Using Real World Projects.  </div>
            <!----for md to sm---->
              <div class="d-lg-none h5 text-center" style="color: white;margin-top: 4em;">Empower your workforce with better hires</div>

            <!----for lg to xl---->
              <p class="text-center mt-4">

                 <button type="button" onclick="location.href='{% url 'account_login' %}';" value="Go to login" class="btn theme--dark primary " style="border-radius: 0;margin: auto">
                <div class="btn__content" href="{% url 'account_login' %}">
                Get started
                </div>
            </button>
              </p>



        </div>
        </div>
      </div>
<!--media-->
<div class="position-relative overflow-hidden d-none d-lg-block ">
    <section>

    <div class="row" style="margin-left: 0;margin-right: 0">
        <div class="col-sm-6 col-md-3  col-lg-3">
            <a target="_blank" href="https://www.forbes.com/sites/tobyshapshak/2018/09/10/renowned-african-incubator-mest-celebrates-10-years-with-700000-investment/#6821e7772af5" class="centerimage">
                <img class="news" src="{% static "frontend/images/home/forbes-hover.png" %}" alt="Forbes" style="margin-top: 2em">
            </a>
        </div>
        <div class="col-sm-6 col-md-3   col-lg-3">
            <a target="_blank" href="https://techcrunch.com/2018/12/11/introducing-the-startups-and-agenda-for-startup-battlefield-africa/" class="centerimage">
                <img class="news" src="{% static "frontend/images/home/techcrunch-hover.png" %}" alt="Techcrunch" style="margin-top: 2em" >
            </a>
        </div>
        <div class="col-sm-6 col-md-3  col-lg-3">
            <a target="_blank" href="https://www.seedstarsworld.com/company/61574" class="centerimage">
                <img class="news" src="{% static "frontend/images/home/seed.png" %}" alt="Seedstars" >
            </a>
        </div>
        <div class="col-sm-6 col-md-3   col-lg-3">
            <a target="_blank" href="http://disrupt-africa.com/2018/09/mest-invests-700k-in-7-african-tech-startups/" class="centerimage">
                <img class="news" src="{% static "frontend/images/home/DA-logo-on-transparent-with-tag-small-e1414593297539.png" %}" alt="Disrupt africa" >
            </a>
        </div>


    </div>

    </section>
</div>









{% endblock %}
